body {
  background-color: #302C26;
  }

header {
  margin-bottom: 10px;
  }

header img {
  width: 300px;
  height: auto;
  display: block;
  vertical-align: center;
  }

header h1 {
  text-align: center;
  font-family: Pacifico, serif;
  color: #B1522A;
  font-size: 250%;
  text-shadow: 2px 4px 1px #CAB467;
  }

nav ul {
  list-style: none;
  background-color: #B1522A;
  text-align: center;
  padding: 0;
  margin: 0;
  }

nav li {
  font-family: Open Sans, sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  text-align: left;
  display: inline-block;
  }

nav a {
  text-decoration: none;
  color: #CAB467;
  display: block;
  padding-left: 15px;
  transition: .3s background-color;
  }

nav a:hover {
  background-color: #302C26;
  }

nav a.active {
  background-color: #CAB467;
  color: #B1522A;
  cursor: default;
  }

nav li ul {
  position: absolute;
  display: none;
  width: inherit;
  }

nav li li {
  font-size: .8em;
  border-bottom: 1px solid #302C26;
  }

nav li:hover ul {
  display: block;
  }

nav li ul li {
  display: block;
  }

section header h2, p {
    text-align: center;
  }

h2, h3, h4 {
font-family: Open Sans, sans-serif;
color: #B1522A;
  }

p {
  font-family: Georgia, serif;
  color: #CAB467;
  }

table {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  }

thead, tbody {
  background-color: #B1522A;
  }

th {
  width: 100px;
  height: 40px;
  font-family: Open Sans, sans-serif;
  color: #CAB467;
  text-align: center;
  font-weight: bold;
  }


td {
  font-family: Georgia, serif;
  color: #302C26;
  list-style-type: none;
  text-align: center;
  }
