body {
  background-color: #302C26;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: auto;
}

h1 {
  font-family: Pacifico;
  text-align: center;
  color: #B1522A;
  font-size: 250%;
  }

p {
  font-family: Georgia, serif;
  color: #CAB467;
}

#welcome {
  text-align: center;
}

ul {
  margin-left: 20px;
  float: left;
  display: inline-block;
  width: 15%;
  font-family: Open Sans, sans-serif;
  color: #B1522A;
  }
li {
  font-family: Georgia, serif;
  color: #CAB467;
}
