body {
  background-color: #302C26;
}

header {
  margin-bottom: 10px;

}

header img {
  vertical-align: middle;
  display: inline-block;
  width: 400px;
  height: auto;
  margin: 10px;
}

header h1 {
  font-family: Pacifico, serif;
  display: inline-block;
  color: #B1522A;
  font-size: 250%;
  vertical-align: -25px;
  margin-left: 65px;
    }

header h2, p {
    text-align: center;
}

h2, h3, h4 {
font-family: Open Sans, sans-serif;
color: #B1522A;
}

p {
  font-family: Georgia, serif;
  color: #CAB467;
}

#welcome {
  text-align: center;
}

tbody {
  font-weight: bold;
  background-color: #B1522A;
  opacity: 0.5;
  }

th {
  font-family: Open Sans, sans-serif;
  color: #302C26;
  text-align: center;
  font-weight: bold;
}


td {
  font-family: Georgia, serif;
  color: #CAB467;
  list-style-type: none;
  text-align: center;
  width: 75px;
}
